<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<script>

  // Script to open and close sidebar------------------------------------
  function w3_open() {
      document.getElementById("mySidebar").style.display = "block";
      document.getElementById("myOverlay").style.display = "block";
  }

  function w3_close() {
      document.getElementById("mySidebar").style.display = "none";
      document.getElementById("myOverlay").style.display = "none";
  }

  // Google Maps JS API------------------------------------

  var map;
  var markers = [];
  var infowindows = [];

  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: 39.952583, lng: -75.165222},
      zoom: 8
    });
  }

  function addmarkers(item){
    var marker = new google.maps.Marker({
              position: {lat:parseFloat(item.Latitude),lng:parseFloat(item.Longitude)},
              map: map,
              title: 'Hello World!'
            });

    markers.push(marker);
    marker.setMap(map);


    var contentString = '<div id="content">'+
            '<div id="markerInfo">'+
            '</div>'+
            '<h1 class="firstHeading">'+item.Name_of_the_Marker+'</h1>'+
            '<div id="bodyContent">'+
            '<p>'+item.Marker_Description+'</p>'+
            '</div>'+
            '</div>';

    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });

    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });

    infowindows.push(infowindow);

  }

  function removemarkers(){
    for (var i = 0; i < markers.length; i++) {
     markers[i].setMap(null);
   }
    markers = [];
    infowindows = [];
  }

  function onSubmit(){

    // get form values
    let hid = $('#Name_Of_The_Marker').val();
    let cat = $('#Category').val();
    let cty = $('#County').val();
    let ld = $('#Location_Description').val();

    $.ajax({
          url: "/searchHistoryForMap",
          dataType:'json',
          data: {
            Historical_Marker_Id:hid,
            Category: cat,
            County: cty,
            Location_Description: ld
          },
          type: 'POST',
          success: function (data){
            removemarkers();
            data.items.forEach( (el) =>{
              addmarkers(el);
            });
          }
  });
}

  // select2js------------------------------------
  // In your Javascript (external .js resource or <script> tag)
$(document).ready(function() {

    $('.select2').each(function(){

          let url = this.getAttribute("url");

          $(this).select2({
            placeholder:'Begin typing...',
            allowClear: true,
            width:"80%",
            ajax: {
              delay: 250,
              url: url,
              type:'POST',
              dataType: 'json',
              data: function (params) {
                   var query = {
                     term: params.term
                   }
                   // Query parameters will be ?search=[term]&type=public
                   return query;
                 },
                 processResults: function (data) {
                      // Tranforms the top-level key of the response object from 'items' to 'results'
                      return {
                        results: data.items
                      };
                }
            }
          });
    });

}); // end of document ready function

  </script>

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAGMa3dyfjmI9J09kMVCEo3ad7tCUdEXpQ&callback=initMap"
     async defer></script>
